absl-py==1.4.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
cmake==3.26.4
contourpy==1.1.0
cycler==0.11.0
filelock==3.12.2
fonttools==4.41.0
google-auth-oauthlib==1.0.0
google-auth==2.17.3
grpcio==1.56.0
idna==3.4
imageio==2.31.1
imgaug==0.4.0
Jinja2==3.1.2
kiwisolver==1.4.4
lazy-loader==0.3
lit==16.0.6
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.2
mpmath==1.3.0
networkx==3.1
numpy==1.24.*
oauthlib==3.2.2
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
pip==23.1.2
protobuf==4.23.4
pyasn1-modules==0.3.0
pyasn1==0.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
requests-oauthlib==1.3.1
requests==2.27.1
rsa==4.9
scikit-image==0.21.0
scipy==1.11.1
setuptools==67.8.0
shapely==2.0.1
six==1.16.0
sympy==1.12
tensorboard-data-server==0.7.1
tensorboard==2.12.0
terminaltables==3.1.10
tifffile==2023.7.10
torch==2.0.1
torchsummary==1.5.1
torchvision==0.15.2
tqdm==4.65.0
triton==2.0.0
typing-extensions==4.7.1
urllib3==1.26.16
Werkzeug==2.3.6
wheel==0.40.0
